header{
display:flex;
flex-basis: 100%;
flex-direction:column;

background-color:#4682B4;
padding: 10px;
height:150px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}
.h{display: block;
width:960px; 
margin-left: auto;
margin-right: auto;
}
#logo{
max-width:800px;
margin: 0 auto;
padding:10px;
float:left;
width:100px;
height:100px;
}
.content{
display:flex;
flex-direction:column;}
.nav{

color:#4682B4;
width:960px; 
padding: 10px;
height:50px;
text-align: center;
margin-top:0;
font-family: "Courier New", monotype;
font-style: italic; 
font-weight:bold;
}
.ss{
margin-left: auto;
margin-right: auto;
width:960px; 
background-color:#F0FFFF;
}

.nch{
background-color:#4682B4;
}
  .forms{
margin-left: auto;
margin-right: auto;
width:960px; 
background-color:#F0FFFF;
text-align: center;}

.table{
margin-left: auto;
margin-right: auto;
background-color:#F0FFFF;
text-align: center;
border-collapse: collapse;
border:0;
}

@media screen and (min-device-width: 1200px) {
  .nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
  order:1;
}
  .ss{order:2;}
  .forms{order:4;}
  .table{order:3;}
}
@media screen and (max-device-width: 1200px) {
  .nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
  order:1;
}
  .ss{order:2;}
  .forms{order:4;}
  .table{order:3;}
}
@media screen and (max-device-width: 992px) {
  .nav{
display: -webkit-flex; 
display: flex; 
justify-content:space-around;
  order:1;
}
  .ss{order:2;}
  .table{order:4;}
  .forms{order:3;}
}
@media screen and (max-device-width: 768px) {
  .nav{order:1;}
  .ss{order:2;}
  .table{order:4;}
  .forms{order:3;}
     .n1{
    align-items:flex-start;
  }
  .n2{
    align-items:flex-start;
  }
  .n3{
    align-items:flex-start;
  }
}


footer{
width:100%; 
background-color:#4682B4;
padding: 10px;
height:55px;
text-align: center;
font-family: "Courier New", monotype;
font-style: italic; 
margin-top: 0;
color:white;
}